.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;  
}

.animated_logo {
  width: 300px;
  height: 300px;
  fill: transparent;
  stroke: rgba(132, 86, 247, 0.8);
  stroke-width: 26px;
  stroke-linecap: round;
}

.animated_logo path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 1s linear forwards;
}

.logo_container {
  max-width: 320px;
  max-height: 320px;
}

.header {
  font-size: 3rem;
}

.header > span {
  font-weight: 600;
}

@keyframes dash{
  to {
    stroke-dashoffset: 0;
  }
}

.section {
  text-align: center;
}

.slogan {
  margin-top: 2rem;
  text-align: center;  
}