html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #111;
  color: #eee;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
}

div:hover {
  box-shadow: 0 0 1px red;
}

.zodiac-logo {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.zodiac-logo path {
  fill: transparent;
  stroke: rgba(132, 86, 247, 0.8);
  stroke-width: 26px;
  stroke-linecap: round;
}
