.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right > * {
  margin-left: 32px;
}

.nav-icon svg {
  width: 32px;
  height: 32px;
}

main {
  flex: 1;  
  display: flex;
  max-width: 960px;
  padding: 0 2rem;
}

footer {
  column-gap: 2rem;
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

footer svg {
  height: 1.5rem;
  width: 1.5rem;
}